h1 {
    color: goldenrod;
    
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(image/table.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color:white;
    font-weight: bold;
}

#message-el{
    font-style: italic;
}